[2018-12-27 18:01] pkmnct opened #1 "Add Robinhood Crypto support"
Currently the extension does not support Robinhood Crypto.

Since Robinhood Crypto is not available in Kansas yet, this functionality will not be added unless I can get some assistance from someone that has access to it.

[2019-01-07 17:31] minihadroncollider opened #2 "The sync hangs after it returns to Mint with the black splash screen"
I start the sync and a tab is opened in Mint which then moves to Robinhood and back to Mint. It never completes this last step and just hangs there with the text "Syncing Mint and Robinhood... This window will automatically close when the sync is complete".

[2019-01-08 22:11] minihadroncollider commented on #2
Hi George,

Thanks for the quick reply.
I followed the link to the property page and I can confirm there is a
property called "Robinhood Account" there.

Dan

On Tue, 8 Jan 2019 at 15:27, George W. Walker <notifications@github.com>
wrote:

[2019-01-08 22:12] minihadroncollider commented on #2
Also - it gets stuck on the Mint page, not Robinhood

On Tue, 8 Jan 2019 at 16:11, Dan Bourne <minihadroncollider@gmail.com>
wrote:

[2019-01-16 20:10] alexskim21 opened #3 "Setup Box Not Working"
The Setup box pops up on Mint but when I click on the the "Set Up" button nothing happens. It just continues to hover in the top right hand corner of my screen. I can click on the button any number of times but nothing happens.

[2019-01-18 16:39] quangkieu opened #4 "Analytics Opt-in not Opt-out"
I would suggest you either change the model to Opt-in for analytics than Opt-out, or a welcome screen that clearly top center say about the Analytics on the first screen, not on second or third click.

[2019-03-02 15:30] kuroshhashemi commented on #3
Same.  Also if I click close, nothing happens

[2019-03-04 19:52] jonchui commented on #3
Me too.

However, i just found out that mint includes Robinhood now!

![image](https://user-images.githubusercontent.com/204868/53758920-33028b80-3e63-11e9-96a1-2a97324517a0.png)

[2019-03-04 23:53] kuroshhashemi commented on #3
OH MY GOD SAY IT AINT SO 😭

[2019-05-22 15:17] sfadoo98 commented on #3
Having same problem

[2019-06-12 03:39] raku-cat commented on #3
Also having this issue, I'm using chromium 75.0.3770.80
The robinhood option in mint has shown up for quite a while for me but i've yet for it to actually work, it's failed every time I try it.

[2019-06-29 02:01] #3 closed

[2019-10-11 02:14] pkmnct commented on #4
I agree. This will be resolved with #6

[2019-10-11 02:17] #4 closed

[2019-10-11 02:58] pkmnct commented on #2
Are you still experiencing this issue with the latest release?

[2019-10-11 11:36] minihadroncollider commented on #2
Hi George.
I actually uninstalled the plug-in since I couldn't get it to work and
furthermore, Robinhood seemed to start supporting native sync with Mint (or
vice versa).
Dan

On Thu, 10 Oct 2019 at 21:58, George W. Walker <notifications@github.com>
wrote:

[2019-10-11 23:00] #2 closed

[2020-07-10 03:02] linuxs opened #9 "I'd like to tip you"
Really appreciated this extension, saved me a ton of headache trying to reconcile my mint account! What's the best way to provide payment? 💯 👍

Ran into this issue after migrating to Webull and adding my APEX clearing account to Mint; needed to import the Robinhood transactions easier.

[2020-07-10 06:56] pkmnct commented on #9
Glad to hear it is still getting use! I accept tips/donations via either [Patreon](https://www.patreon.com/pkmnct) or [PayPal](https://www.paypal.me/pkmnct).

Thanks for the consideration!

[2020-07-10 06:56] #9 closed

[2020-11-25 22:31] pkmnct opened #11 "Margin should not be shown in Mint"
A user that has margin trading with Robinhood Gold has reported that the margin is showing up in their portfolio balance.

[2020-11-28 21:40] bluekeybo opened #12 "Net worth history in Mint shows a jump when Robinhood is added?"
Can the extension get the history of the Robinhood account too? That way the Mint net worth tracker doesn't show jumps when Robinhood is added, or if I don't sync Robinhood with Mint after a few months and then I re-sync?
Thanks!

[2020-12-11 18:47] mromarreyes commented on #11
I would also like to have a setting that I can enable to not include margin.

[2020-12-12 15:43] benjaminjbachman commented on #1
I have crypto and the plugin was already working as-is.  I ran the current version installed from source.

[2020-12-17 16:44] pkmnct commented on #12
Unfortunately there is no Mint interface or API to manually add history for an account (besides transactions). Unless Mint adds functionality I don't believe this would be possible with the extension.

[2020-12-17 16:44] #12 closed

[2020-12-17 22:58] forcey opened #13 "Balance only includes securities, but not cash."
My portfolio includes $3600 in securities and $2000 in cash, but in the mint account only the $3600 is shown. Screenshots below.

<img width="324" alt="Screen Shot 2020-12-17 at 2 57 27 PM" src="https://user-images.githubusercontent.com/4744406/102553761-3edf3200-4078-11eb-8711-8ac4ed2b9eaf.png">
<img width="784" alt="Screen Shot 2020-12-17 at 2 57 23 PM" src="https://user-images.githubusercontent

[2020-12-20 20:41] pkmnct commented on #13
Thanks for the report! I'm working to revamp the way the Robinhood portfolio is scraped, and am hopeful it will resolve this issue (among some others). It will be using the Robinhood API rather than scraping it from a page.

[2020-12-21 02:54] zampaz opened #14 "Low priority font change request for visually impaired"
The light font on the white background of RMSC is difficult to read.  Please consider darkening the font a bit if it won't ruin the style. It's a pretty style btw.  I started coding in the 79's and I thought I'd seen it all until I tried to read the instructions on the welcome screen! har har har.  Thanks for your work.  Sharing is caring and makes the world a better place :)
-Sean

[2020-12-22 08:07] mwanninger commented on #11
+1 to this request. Thanks for the plugin!

[2020-12-23 04:36] jakreymyers opened #15 "Sync Runs, accounts accessed yet the balance does not update"
When I enabled the extension and clicked on the sync, it originally notified me that I did not have a Robinhood account setup. This was not the case, I did have an account but clicked "setup Robinhood account" and it thereafter seemed to realize that I did in fact have the account (maybe not?). However, I have run the sync several times and the values are not updating at all. It still says last up

[2020-12-23 17:15] pkmnct commented on #15
@jakreymyers The extension is unable to access your existing Robinhood account within Mint as Mint does not offer any public-facing way to manually or programmatically adjust natively-connected accounts. What the extension does instead is creates a "Collectible" in Mint that it then updates with your portfolio value.

If that collectible does not appear in your account, feel free to re-open this i

[2020-12-23 17:15] #15 closed

[2021-01-06 03:12] samfok opened #16 "Support for multiple Robinhood accounts"
My partner and I have separate Robinhood accounts and were tracking them in a single Mint account before Robinhood rescinded Mint's access. From our respective chrome browsers, we are able to sync the mint account with our Robinhood accounts, however syncing with one account overwrites the value synced from the other account.

[2021-01-11 02:23] hannahvu opened #17 "Stuck at "Syncing Mint and Robinhood... This window will automatically close when the sync is complete""
I've been stuck on this page on Robinhood for over 10 minutes. I logged into just Mint initially and was told that the sync was starting. However, I was stuck on that page for a long time so I logged into both Mint and Robinhood to try to debug and I'm still stuck on that page. Please help

[2021-01-12 17:23] ryanwnzl commented on #17
Same issue today for me

[2021-01-13 02:16] TimGodfrey commented on #17
getting the following for me:

Robinhood Mint Sync for Chrome
Syncing Mint with Robinhood.

×

Robinhood Mint Sync for Chrome
Sync Complete! Reload to see the change.

Robinhood Mint Sync for Chrome
Sync performed in the last hour. Not syncing.

[2021-01-13 05:11] pkmnct opened #18 "Bug: Robinhood login screen not being detected"
- The Robinhood login page is not being detected
- Current manual workaround is to sign in to Robinhood manually in your browser before initiating sync

[2021-01-13 05:46] pkmnct commented on #17
Try signing into Robinhood.com manually before initiating the sync. I will look into why the login page is not being detected

[2021-01-15 00:52] billvsd opened #19 "Support for Cash Management Balance"
It would be great if we could also track the Robinhood Cash Management balance (https://robinhood.com/cash).

[2021-01-15 00:52] #19 closed

[2021-01-15 06:35] billvsd commented on #13
+1 for adding the Robinhood Cash Management balance ([https://robinhood.com/cash](https://robinhood.com/cash)) - that would be very helpful whether by the current scraping method or via the API.

[2021-01-16 15:58] pkmnct commented on #16
The Typescript Refactor (#20) includes a change in how the properties are created and stored in the Mint account. This change will make working towards this feature a little easier in the future.

[2021-01-16 15:59] pkmnct commented on #17
@TimGodfrey @ryanwnzl @hannahvu Just to confirm, did signing in to Robinhood.com manually before starting the sync work? I have a fix for the login page detection in an upcoming update (#20), but I wanted to confirm that was your issue.

[2021-01-16 21:03] #1 closed

[2021-01-16 21:03] #13 closed

[2021-01-16 21:03] #17 closed

[2021-01-16 21:03] #18 closed

[2021-01-16 21:11] pkmnct commented on #11
@mromarreyes @mwanninger Could you check if version 3.0.0 displays the margin as expected?

[2021-01-16 21:29] billvsd opened #22 "Initial Data Sync Fails after Typescript Refactor Update"
I updated the extension and deleted the existing collectible account in Mint created by the previous version. I ran the Setup function in the new script and it created 4 Robinhood accounts in Mint (Cash, Crypto, Other, Stocks). The "Setup complete! Initiating Sync" appears and it opens a tab that has the "Syncing Mint and Robinhood... This window will automatically close when the sync is complete"

[2021-01-16 22:50] pkmnct commented on #22
Could you check your Mint properties page, and ensure there are no properties named "Robinhood Account"? It is possible if you used the extension on multiple computers that more than one property was added.

Which tab gets stuck? Is it a Mint or Robinhood tab, and what is the URL?

[2021-01-16 23:04] billvsd commented on #22
I had to delete the "Robinhood Account" from Mint after the Typescript Refactor, and there are currently no accounts with that name in Mint. After I updated the Chrome extension, the overview page said I had to delete that account which I did. After I deleted the "Robinhood Account" from Mint, I ran the Setup function which created 4 accounts (named "Robinhood Crypto," "Robinhood Other," "Robinhoo

[2021-01-17 00:47] pkmnct commented on #22
When it gets stuck, are you able to see any of the Robinhood properties in the background? Does it try to fill them in?

[2021-01-17 01:03] mwanninger commented on #11
@pkmnct I just checked it out - I removed my old "Robinhood Account" as prompted, then ran setup. It created 4 different property entries on Mint (Robinhood Cash, Robinhood Crypto, Robinhood Other, Robinhood Stocks), but appeared to get stuck after that. I refreshed and watched more closely, and it appears to go to Robinhood, then back to Mint, and then get stuck there and the tab doesn't close (i

[2021-01-17 02:00] manoj-vk commented on #22
I also have the same issue. In my case, I see Robinhood properties updated in the background

[2021-01-17 03:28] pkmnct commented on #22
I've released an update, 3.1.0, that should resolve this issue. There was a race condition in the save callback on the Mint update page. Please re-open this issue if you continue to have trouble after updating to 3.1.0.

[2021-01-17 03:56] pkmnct commented on #11
@mwanninger Thanks for the clarification. I don't have a Robinhood Gold account to test with, but I was able to switch the API from using "market value" to "equity," which I hope will resolve the issue (in #24). I'm going to do a bit more testing before releasing.

[2021-01-17 04:08] mwanninger commented on #11
@pkmnct Thanks! Let me know if I can be of any help since I do have/use Gold.

[2021-01-17 04:21] pkmnct commented on #11
@mwanninger It'd be great if you're willing to test the changes. Do you have any familiarity with npm? If so, you can follow the [_Developer Use_](https://github.com/pkmnct/robinhood-mint-sync-chrome#developer-use) section of the guide with this zip: https://github.com/pkmnct/robinhood-mint-sync-chrome/archive/use-equity-not-market-value.zip

If not, I can make a zip of the compiled code for you t

[2021-01-17 04:25] pkmnct commented on #11
Here is a complied version of the extension. You can load it directly for testing.
[robinhood-mint-sync-chrome-beta.zip](https://github.com/pkmnct/robinhood-mint-sync-chrome/files/5825557/robinhood-mint-sync-chrome-beta.zip)

1. Disable the main install of Robinhood Mint Sync.
2. Extract the attached zip to a folder.
3. Open the Chrome Extensions Page (Chrome Menu > More Tools > Extensions).
4. Tu

[2021-01-17 05:07] manoj-vk commented on #22
Still the same issue. I also deleted properties, reinstalled extension, but same result

[2021-01-17 05:19] billvsd commented on #22
@pkmnct thanks for the update, but unfortunately the issue still persists. With the new debug mode on, I see this error in the console:

Error in event handler: TypeError: Error in invocation of tabs.sendMessage(integer tabId, any message, optional object options, optional function responseCallback): No matching signature.
    at Object.mint-property-setup-complete (chrome-extension://[extensionid

[2021-01-17 06:02] pkmnct commented on #22
To help me better understand what is happening, please attach logs as follows:
1. If you have debug mode enabled already, skip to 6
2. Go to chrome://extensions/
3. Find Robinhood Mint Sync for Chrome
4. Click Details
5. Click Extension Options
6. Check the box to enable Debug Mode
7. Return to chrome://extensions/ (Go back to the listing)
8. Enable Developer Mode in the top-right of that page
9.

[2021-01-17 07:13] billvsd commented on #22
I removed all Robinhood properties from Mint, uninstalled, and reinstalled the Chrome extension. Here are the background console logs. The errors fire off in rapid succession.
[mogflmdandlpjobbddhopcggkjoggpdo-1610867289529.log](https://github.com/pkmnct/robinhood-mint-sync-chrome/files/5825690/mogflmdandlpjobbddhopcggkjoggpdo-1610867289529.log)

[2021-01-17 07:34] pkmnct commented on #22
@billvsd That error seems to indicate that the Mint update tab is never even opened. Do you see a tab with the url `https://mint.intuit.com/settings.event?filter=property&addRobinhood=true` open after the Robinhood tab?

[2021-01-17 07:43] billvsd commented on #22
@pkmnct when I click **Set up** it opens and closes a tab with this URL https://mint.intuit.com/settings.event?filter=property&setupRobinhood=true

Then it opens another tab, first going to https://robinhood.com/account?syncMint=true and then https://mint.intuit.com/settings.event?filter=property&addRobinhood=true and this tab does not close like the first one

[2021-01-17 07:54] pkmnct commented on #22
If the tabs are not remaining open (closing themselves) then debug mode is not fully enabled. Try toggling the extension off and back on (not uninstall/reinstall, just disable/enable) after enabling debug mode. Check if there is any additional logging in the Inspect views - background page. There should be some messages about events being fired (there may still be errors below those)

[2021-01-17 07:54] billvsd commented on #22
@pkmnct sorry, after uninstalling and reinstalling I forgot to turn debugging back on. Here is the log file with debugging on again. After it says Tab opener must be in same window as the updated tab, it then enters an error loop in main.ts at line 60 and it appears that tab.id isn't defined.
`chrome.tabs.get(tab.id, (tab) => {`

[mogflmdandlpjobbddhopcggkjoggpdo-1610869722160.log](https://github.

[2021-01-17 07:55] billvsd commented on #22
![consolelog](https://user-images.githubusercontent.com/2430297/104834750-5a478380-5856-11eb-8dfd-58af97b9d42a.png)

[2021-01-17 08:08] pkmnct commented on #22
@billvsd Ah, I think I may have found the issue. Would you be able to test the fix since I can't recreate it on my machine?

Here's a pre-compiled copy of [the changes](https://github.com/pkmnct/robinhood-mint-sync-chrome/compare/fix-tab-issue):
[robinhood-mint-sync-chrome@3.1.1.zip](https://github.com/pkmnct/robinhood-mint-sync-chrome/files/5825715/robinhood-mint-sync-chrome%403.1.1.zip)

The att

[2021-01-17 08:18] billvsd commented on #22
Sure thing. It looks like with that it is still throwing the Unchecked runtim.lastError: Tab opener must be in the same window as the updated tab but the following  Cannot read property of 'id' of undefined at main.ts:60 isn't thrown.
![consolelog](https://user-images.githubusercontent.com/2430297/104835158-7d276700-5859-11eb-8c07-a03d11588d7c.png)

[2021-01-17 08:22] mwanninger commented on #11
@pkmnct I just tried it - as with the live store version, the sync appears to fail so i can't check this for sure yet. In looking at the window that gets opened, it navigates to Robinhood, back to Mint, and then stays there.

Looking at the page (/settings.event on mint.com) behind the "Syncing Mint and Robinhood" overlay, it appears to have set my "Robinhood Stocks" value to the value I expect (n

[2021-01-17 08:48] pkmnct commented on #22
Hmm, seems to have stopped at a different spot this time. Try reloading your Mint Overview page. Since it hit the `mint-property-setup-complete` event, it should attempt to initiate a sync the next time that Mint page loads.

[2021-01-17 08:51] billvsd commented on #22
Turned debuggin on, turned extension off then on, and reloaded mint Overview page. Here is the console log:
![consolelog](https://user-images.githubusercontent.com/2430297/104835829-16587c80-585e-11eb-8d53-e7bfb3aabdb3.png)

[2021-01-17 08:58] pkmnct commented on #22
Well, the `openerTabId` should not be needed. I'll try removing it just to see if that can give us anything else to work with. I've added some additional logging to that event as well. Give this one a try:

[robinhood-mint-sync-chrome@3.1.1.zip](https://github.com/pkmnct/robinhood-mint-sync-chrome/files/5825773/robinhood-mint-sync-chrome%403.1.1.zip)

Thank you for your patience and willingness to

[2021-01-17 09:01] pkmnct commented on #11
Sounds like you are running into #22. I'll take a look at this again once that issue is resolved.

[2021-01-17 09:13] billvsd commented on #22
No problem at all. Thank you for the extension. Tracking my Robinhood balances in Mint is very helpful!

With this latest update, when not in debug mode it appears to get stuck on the "Mint > Settings" tab (and it does not close, it just remains open) https://mint.intuit.com/settings.event?filter=property&addRobinhood=true

With debug mode on, it is no longer throwing an error but appears to stop

[2021-01-17 09:16] pkmnct commented on #22
That's a good sign. Could you check the console on that Mint page again?

[2021-01-17 09:24] billvsd commented on #22
Here are just the errors from the console on the Mint page (https://mint.intuit.com/settings.event?filter=property&addRobinhood=true). Let me know if you need Verbose / Info / Warning levels of logging.
![consolelog](https://user-images.githubusercontent.com/2430297/104836408-a993b100-5862-11eb-8e2e-639fdb7169df.png)

[2021-01-17 09:28] pkmnct commented on #22
Those all seem to be related to an ad/tracking blocker. I don’t see any messages related to this extension. Do you have Debug Mode turned on?

You should, at the very least, see an initialization message from the extension towards the top of the log. Do you get the extension overlay on that page?

[2021-01-17 09:39] billvsd commented on #22
Yeah, that was just error-level logs. It is showing the overlay.
![overlay](https://user-images.githubusercontent.com/2430297/104836702-97b30d80-5864-11eb-9e3d-d84c43314e57.png)

Here are the full log files. It appears to be filling in the account values, but not getting actually submitting or saving them and it gets stuck with the overlay.
[mint.intuit.com-1610876133946.log](https://github.com/pk

[2021-01-17 18:17] pkmnct commented on #22
From that log, it looks like it has trouble setting the "Robinhood Other" value. I found a possible race condition where it may try to set that before the input has loaded. Here's that attempted fix:

[robinhood-mint-sync-chrome@3.1.1.zip](https://github.com/pkmnct/robinhood-mint-sync-chrome/files/5826567/robinhood-mint-sync-chrome%403.1.1.zip)

[2021-01-17 19:37] manoj-vk commented on #22
The process appears to be complete (i.e it is closing the second tab and also showing the Sync complete confirmation message). But I don't see the balance reflected in the Mint property after reloading the screen.

[2021-01-17 19:44] pkmnct commented on #22
@manoj-vk Could you enable Debug Mode for the extension and check the logs on the Mint update page? It sounds like perhaps it didn't receive the data from Robinhood. The logs should show what value it is attempting to set. If they all show 0, it is possible the Robinhood scrape is failing for you.

[2021-01-17 19:53] billvsd commented on #22
@pkmnct here is a screenshot of the background console logs with the most recent update. It appears to complete the sync, but the balances remain at $0.00.
![consolelog](https://user-images.githubusercontent.com/2430297/104854271-990f2500-58ba-11eb-8875-af713890a3b7.png)

Here at the console logs from the Mint > Settings tab. There are actually two "Mint > Settings" tabs that are open both with th

[2021-01-17 20:01] billvsd commented on #22
I don't see the Collectible cards for the Robinhood accounts expand to show their values and the save button. I'm not sure if that has to happen but I suspect that could be the current issue. Feels like we're close! Thanks again.

[2021-01-17 21:21] superpowered commented on #22
https://github.com/pkmnct/robinhood-mint-sync-chrome/pull/25 This should fix the issue.
It has to do with a false positive from an auto updating property.

[2021-01-17 21:50] pkmnct commented on #22
@superpowered I've incorporated that bug fix (but not yet the fallback if the element is never found) into the `fix-tab-issue` branch, which contains some other bug fixes and enhancements. Feel free to test that branch out and following the  [_Developer Use_](https://github.com/pkmnct/robinhood-mint-sync-chrome#developer-use) section of the guide, or by using the pre-compiled version attached:

[r

[2021-01-17 21:57] superpowered commented on #22
Seems to be fixed with 3.1.1 on my end, (including now correctly closing the extra settings tab, which was an issue that I was still seeing on my PR locally)

[2021-01-17 22:02] manoj-vk commented on #22
Seem to be fixed. I don't have money in all categories, but it is setting values for what I have. Thank you so much

[2021-01-17 22:05] pkmnct commented on #22
Great news! I'll get this pushed to the Chrome Web Store ASAP!

[2021-01-17 22:08] #22 closed

[2021-01-17 22:20] pkmnct commented on #11
@mwanninger #22 has been fixed. Try this version instead, and let me know if it syncs the expected amounts:

[robinhood-mint-sync-chrome@3.2.1.zip](https://github.com/pkmnct/robinhood-mint-sync-chrome/files/5826933/robinhood-mint-sync-chrome%403.2.1.zip)

[2021-01-18 00:15] pluong94 commented on #17
Hi,

I am still having this issue. I am logged into robinhood and mint. From mint overview, using 3.1.2 version of the app, I see nothing has been edittted in my mint account.

I can confirm there is not "property" called robinhood.

What can i do here? Thanks in advance.

[2021-01-18 00:56] superpowered commented on #17
@pluong94 Do any of the extension prompts appear in the top right of the screen? (there should either be a prompt asking you to set up, or a prompt about it attempting to sync)

If so: Does it try actually syncing anything? (E.g. Do any other tabs open in chrome? When syncing, one tab should open for robinhood, and then another tab should open for Mint Settings)

If so: Can you turn on "Enable Deb

[2021-01-18 01:02] pluong94 commented on #17
Hey Andrew,

Outside of the initial extension prompt asking me to set up, no additional
prompts appear. Once I click the set up from the extension prompt, it
brings me to this black screen as others have seen.

Nothing actually tries syncing.

I’ll do the debug when I get to my computer!

On Sun, Jan 17, 2021 at 6:57 PM Andrew Herder <notifications@github.com>
wrote:

[2021-01-18 01:09] pluong94 commented on #17
@superpowered

What am i suppose to be posting? I have turned on "enable debug" but am not sure what I am looking for from inspecting the background page.

[2021-01-18 01:11] mwanninger commented on #11
@pkmnct looks good! "Robinhood Stocks" amount is exactly what I expect

[2021-01-18 01:12] pluong94 commented on #17
@superpowered

Actually, I think i found it?

Robinhood Mint Sync - [Content](Mint - Properties - Check) initialized
debug.ts:33 Robinhood Mint Sync - [Content](Mint - Triangle Fix) initialized
libs-f0625f303abccdbf22c19e5c5570eeb9.js:4 Using default sandbox factory...
libs-f0625f303abccdbf22c19e5c5570eeb9.js:4 All core plugins started...
libs-f0625f303abccdbf22c19e5c5570eeb9.js:4 Plugins register

[2021-01-18 03:56] superpowered commented on #17
Okay, so was able to recreate after making a "Fresh" account with no properties....

https://github.com/pkmnct/robinhood-mint-sync-chrome/pull/27 This *should* address it.

@pluong94 I'm assuming you had no other properties in the account?

[2021-01-18 04:15] pluong94 commented on #17
Hi,

@superpowered  Thanks, yeah it just started working for me. and No, i had no other properties in the account.

[2021-01-18 06:24] pkmnct opened #31 "If no properties have been set up, extension may fail to set up properties"
If there has not been a property set up before, then the extension will fail to set up properties.

The current workaround is to manually set up a property, as a collectible, with the name "Robinhood Other" and a value of $0.

[2021-01-18 06:27] pkmnct commented on #17
@pluong94 @superpowered I created a new issue for the account with no properties (#31).

[2021-01-18 06:28] pkmnct commented on #31
@superpowered's #27 contains a fix for this

[2021-01-18 10:25] #11 closed

[2021-01-18 10:25] #31 closed

[2021-01-18 20:37] billvsd commented on #22
@pkmnct thank you so much for resolving the issue. I can also confirm that it is now working after the last update. Great job on this extension!

[2021-01-19 01:38] #14 closed

[2021-01-19 03:21] pkmnct commented on #14
I've finalized this and submitted it to the Chrome Web Store for review. There was an issue with the original submission due to a repository configuration error, so it will likely (hopefully) be denied. There does not seem to be a way to cancel that version manually since it is pending review. I will attempt to publish the corrected package as soon as I am able to.

[2021-01-19 21:48] JeffResc opened #37 "Firefox Version"
Hello,

I think this extension is great! I daily drive Firefox instead of Chrome, so unfortunately it's not compatible with my day-to-day browser. If it's possible and already compatible, could you release a version of this for Firefox or possibly add it to the project roadmap?

Thank you for this great project,
Jeff

[2021-01-20 02:34] georgekerr opened #38 "Robinhood stocks and cash appear under properties on mint"
Is there a way to have these under investments instead of properties?

[2021-01-20 05:25] pkmnct commented on #37
Good news! With some small tweaks, it looks like it works just fine on Firefox. I'll work on getting this released.

[2021-01-20 05:29] pkmnct commented on #38
Unfortunately, Mint offers no way of manually creating a manual item that appears under Investments. See [_How do I add a manual account in Mint?_](https://help.mint.com/General/888960251/How-do-I-add-a-manual-account-in-Mint.htm) for more details.

[2021-01-20 05:29] #38 closed

[2021-01-20 06:34] pkmnct commented on #37
The Firefox version is pending review by Mozilla. If approved, it will be available from:
https://addons.mozilla.org/en-US/firefox/addon/robinhood-mint-sync/

[2021-01-20 08:16] #37 closed

[2021-01-20 08:26] pkmnct commented on #37
The extension was approved. You should be able to install it on Firefox now. Please open a new issue if you run into any issues with it!

[2021-01-20 22:05] pkmnct opened #42 "Add a setting to combine your portfolio, crypto, cash, and other equity into a single Property on Mint"
Feedback from the Chrome Web Store:

Bob Murray:

Alex Grosjean:

[2021-01-22 16:04] gootconnect opened #43 "Stuck on "Updating Mint Properties" screen"
I run the initial setup and four accounts are created under the "property" category as expected, but the second Mint screen that opens up never closes and the values don't update. The screen stays on "Updating Mint Properties...". When I close out of everything and come back the four sub-accounts that were created for Robinhood are still there, but the values are $0.00.

The extension was working

[2021-01-22 16:13] ethanwlo commented on #43
Seeing the same issue as @gootconnect described.

[2021-01-22 16:19] superpowered commented on #43
Can you guys both turn on "Debug Mode" in the options and post what you see in the inspector console on the "Updating Mint Properties..." page?

[2021-01-22 16:51] gootconnect commented on #43
I see 9 errors and 1 warning. I don't seem to be able to attach screen shots to the message board here. But I can save the text file of the errors and post that. It just looks terrible.

I'm sorry I'm not more knowledgeable with code, I'm not sure what I'm looking at.

[2021-01-22 16:54] superpowered commented on #43
Yeah, there's a bunch of errors that are just present by default on mint..

Mostly we just want to see the stuff from the debugger on the extension. It should all be prefixed with `Robinhood Mint Sync -`

[2021-01-22 18:04] gootconnect commented on #43
Okay, here is what is coming up on the console when I filter out errors and warnings. The top three have the prefix you mentioned.

debug.ts:26 Robinhood Mint Sync - [Content](Mint - Properties - Update) initialized
chrome-extension://mogflmdandlpjobbddhopcggkjoggpdo/js/content/mint/triangleFix/triangleFix.js:1 Robinhood Mint Sync - [Content](Mint - Triangle Fix) initialized
chrome-extension://mog

[2021-01-22 18:14] superpowered commented on #43
So just to verify:  there's no other logs after that?
The next log I would have expected to see is `Robinhood Mint Sync - [Content](Mint - Properties - Update) Property Tab View loaded. <div class=​"PropertyTabView">​…​</div>​
`
Basically we wait to make sure that list of properties appears before we start to do anything (since thats where all the stuff we update shows up)

In the inspector you sh

[2021-01-22 18:30] superpowered commented on #43
Also to verify: What version of the plugin do you show in your extensions?

[2021-01-22 18:35] gootconnect commented on #43
I ran the whole process again and more Robinhood Mint Sync logs showed up. I filtered for logs containing "Robinhood".

When I look on the Mint screen behind the "Updating Mint Properties" screen I see the other property account I added as well as the four created by the extension.

Here are the logs I see after the last run. Still with the update screen not going away.

debug.ts:26 Robinhood Mint

[2021-01-22 18:38] superpowered commented on #43
Well in asking that question I'm now realizing that 3.3.0 is the latest on the chrome store.

3.4.0 addressed an issue with the "Other" category which seems to be where yours is hanging at based on that log.

My assumption is 3.4.0 has been submitted and must be waiting on approval from google. @pkmnct would be able to confirm that

[2021-01-22 18:56] pkmnct commented on #43
Yes! This bug was found and resolved in 3.4.0. Unfortunately, there was an issue with the build script when 3.3.1 was submitted, resulting in a zip that was missing the compiled code getting uploaded to the Chrome Web Store. That has been stuck in "pending review" for a few days. There is no option to cancel and re-submit the corrected version until the broken one gets through review. See the mess

[2021-01-22 18:59] superpowered commented on #43
@pkmnct could probably start including "Releases" in the github repo, so people can download targeted versions of the app when needed.

[2021-01-22 19:00] pkmnct commented on #43
Agreed! I have a branch where I've started to implement the automated release pipeline.

[2021-01-22 19:02] gootconnect commented on #43
Well it sounds like everything is good, I just need to wait a bit. Thanks for the responses!

[2021-01-26 06:25] pkmnct commented on #43
At this time, the plugin is still pending review. [According to the Webstore Developer FAQs](https://developer.chrome.com/docs/webstore/faq/#faq-listing-108):

I am hopeful this is just due to the broken build having been uploaded. I will post again after I am able to submit version 3.4.0 (or whatever is the latest).

[2021-01-27 01:07] billvsd opened #44 "Cash balance is being incorrectly set as buying power"
The "Robinhood Cash" balance is incorrectly being set as the Buying Power amount. For example, if you have a $50 cash balance in Robinhood (robinhood.com/cash) and $1,000 in buying power, the Chrome Extension is setting the "Robinhood Cash" account value at $1050 when it should be $50. Under the account menu, it may say $1,050 buying power, but the actual cash balance is $50.

[2021-01-27 02:00] billvsd commented on #44
Screenshots for reference:
<img width="251" alt="Mint-RobinhoodCashBalance" src="https://user-images.githubusercontent.com/2430297/105931584-4f33e680-6000-11eb-9755-32b4ec7581a9.png">
<img width="130" alt="RH-buyingPower" src="https://user-images.githubusercontent.com/2430297/105931590-4f33e680-6000-11eb-9f5b-bae551f38e91.png">
<img width="531" alt="RH-cash" src="https://user-images.githubusercont

[2021-01-27 02:15] superpowered commented on #44
Hmmmm looks like they do provide us with this number under `cash_available_from_instant_deposits`. So we'd have to change the `cash = parseFloat(request.uninvested_cash);` -> ` cash = parseFloat(request.uninvested_cash) - parseFloat(request.cash_available_from_instant_deposits);`.
OR there is the `withdrawable_cash ` which seems to return the cash value without buying power, but I'm not as sure wh

[2021-01-27 02:55] pkmnct commented on #16
@superpowered has a pull request (#33) that will add this functionality. I hope to include it in an upcoming release.

[2021-01-27 03:05] pkmnct commented on #44
@superpowered I believe there are some other cases where that number does not match up, such as just after a deposit occurs. I believe that subtracting `cash_available_from_instant_deposits` should be correct.

[2021-01-28 01:13] #44 closed

[2021-01-28 01:25] pkmnct commented on #43
The broken submission has been rejected. This change has been submitted to the Chrome Web Store and Firefox Add-on site.

[2021-01-28 01:25] pkmnct commented on #44
This change has been submitted to the Chrome Web Store and Firefox Add-on site.

[2021-01-28 23:24] pkmnct opened #46 "Add automated testing to project"
I'm investigating using Jest and Selenium to add automated tests to the project.

This will probably get tricky when it comes to testing Mint/Robinhood pages.

[2021-01-31 05:30] pkmnct commented on #43
The update was published. Please open a new issue if you continue running into this after you get the latest update.

[2021-01-31 05:31] #43 closed

[2021-02-04 06:58] dacodekid opened #48 "Add Robinhood under Investments category"
It currently list them under `Property` instead in `Investments` and it doesn't make sense under it.  Is it possible to move it?

[2021-02-04 07:02] dacodekid commented on #48
Found my answer [here](https://github.com/pkmnct/robinhood-mint-sync-chrome/issues/38)

[2021-02-04 07:02] #48 closed

[2021-02-06 18:22] edchaser23 opened #49 "Synced data not accurate"
The numbers being synced to to Mint are not accurate. Cash, Crypto, and Stock are all showing 0 while there "Other" is showing $69.50.

Without giving too much detail, I have money in cash, crypto, and stock- Not sure what would even be in other, however, it does not add up to 69.50. In fact my Robinhood numbers have fluctuated quite a bit but it's been syncing at about 69.50 for about a week.

Th

[2021-02-07 03:10] pkmnct commented on #49
@edchaser23 Turn on Debug Mode in the extension's settings, then try to sync the account again. Afterward, open the Robinhood and Mint tabs and check the console logs to see if they show the expected values.

[2021-02-07 16:19] edchaser23 commented on #49
Appologies, I'm a bit of a layman- Where in the Console should I be looking to see if its returning the expect values?

[2021-02-07 16:24] edchaser23 commented on #49
Nevermind- I found it. It looks like the extension isn't able to pick up values from Robinhood. It's gettting Error 400. I've attached the log.
[robinhood.com-1612715018255.log](https://github.com/pkmnct/robinhood-mint-sync-chrome/files/5939411/robinhood.com-1612715018255.log)

[2021-02-08 14:48] edchaser23 commented on #49
So I just figured out the issue. I have a partial share of an ETF and
rather than showing the market value of my investment it’s show it’s
showing the market cost, as if I had bought a full share.

I was also mistaken earlier when I said it was listed in other. It’s
actually listed in Stocks.

On Sat, Feb 6, 2021 at 10:10 PM George W. Walker <notifications@github.com>
wrote:

--
Eddie Chase

[2021-02-14 21:04] chris14991 opened #50 ""cash_available_from_instant_deposits" can increase 'stock' value unintentionally."
'cash_available_from_instant_deposits' appears to always return from Robinhood as the entire initial deposit and does not subtract any usage of that deposit ('instant_allocated' appears to be the amount used) This can result in 'cash' ending up as a negative number creating the addition of ''cash_available_from_instant_deposits' to 'stock'

Removing the subtraction of 'cash' from 'stock' and 'requ

[2021-04-07 00:42] billvsd commented on #50
@chris14991 this subtraction was a change as a result of the Robinhood Cash balance being set as the cash balance + buying power that I reported in [issue #44](https://github.com/pkmnct/robinhood-mint-sync-chrome/issues/44).

Currently, my Robinhood Cash Balance is not being correctly recorded with the extension because of the calculation `cash = parseFloat(request.uninvested_cash) - parseFloat(re

[2022-05-08 00:07] Nyran-2004 opened #64 "Mint update - May 07 2022"
Hello,

It appears Mint pushed through an update to their interface and the Robinhood Mint Sync is not automatically initiating any longer.  I was unsuccessful when trying the "Perform Sync Now" or "Trigger Initial Setup" direction from chrome-extension://mogflmdandlpjobbddhopcggkjoggpdo/html/welcome.html as well.  I made sure I was logged into both Mint and Robinhood, trying from Chrome like usua

[2022-07-05 14:08] liamrosen commented on #64
Yes, can confirm that the new Mint interface has broken the extension.

@pkmnct, any plans to update?

Thanks for all your hard work!

[2022-07-06 23:23] pkmnct commented on #64
@liamrosen Now that Robinhood has native support within Mint, I have not prioritized maintenance of this extension. Is there any specific reason you are using the extension over the native integration?

[2022-07-11 17:26] liamrosen commented on #64
No kidding, I had no idea that Robinhood was supported natively now. Thanks!

On Wed, Jul 6, 2022 at 7:23 PM George W. Walker ***@***.***>
wrote:

[2022-07-11 17:42] superpowered commented on #64
@pkmnct Could probably update the readme as I assume a bunch of people probably aren't aware of the native support - or that this project is no longer maintained. (at least until RobinHood decides flip flop again)